.my-Accepted {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0 15px;
    margin: 0 auto 20px;
    border-bottom: 1px solid #dee2e6;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
}
.my-Accepted_Image { 
    width: 25%;
    text-align: center;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
    img {
        max-height: 100px;
        vertical-align: bottom;
        margin: 0 auto;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            max-height: 150px;
        }
    }
}
.my-Accepted_Unit {
    width: 50%;
    padding: 0 10px;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.my-Accepted_Name {
    margin: 0 auto;
    padding: 0 0 5px 0;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
        margin: 5px auto 0;
    }
}
.my-Accepted_Info {
    display: flex;
    align-items: center;
    @include font-size(14px);
}
.my-Accepted_InfoInner {
    padding: 3px 20px 3px 0;
    border-right:  1px solid #dee2e6;
}
.my-Accepted_Total {
    padding: 0 0 0 15px;    
}
.my-Accepted_Canceled {
    width: 25%;
    text-align: center;
    @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 10px auto 0;
        button {
            width: 100%;
        }
    }
}