.my-Content {

}
.my-Content_Inner {

}
.my-Content_List {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my-Content_Item {
    width: 30%;
    margin: 0 0 20px;
    a {
        width: 100%;
        border: 1px solid;
        display: block;
        padding: 10px 0;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
}