.my-Content {
}
.my-Content_Inner {

}
.my-Content_List {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my-Content_Item {
    width: 30%;
    margin: 0 0 20px;
    a {
        width: 100%;
        border: 1px solid;
        display: block;
        padding: 10px 0;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
}
.my-Content_Event-none {
    padding: 10px 0 0;
    @include font-size(14px);
}
.my-Content_TabList {
    li {
        a {
            @include media-breakpoint-down(sm) {
                @include font-size(13px);
            }
        }
    }
}

.my-Content_TabContent {
    @include media-breakpoint-down(sm) {
        padding: 0 5px;
    }
}

.my-Content_Title {

}