
.static-Content {
    h2 {
        @include font-size(18px);
        font-weight: bold;
    }
    h3 {
        @include font-size(17px);

    }
    ul {
        li {
            margin: 5px auto 0;
            @include font-size(15px);
        }
    }
    ol {
        li {
            margin: 5px auto 0;
            @include font-size(15px);

        }
    }
}
.static-Content_Inner {
    padding: 0 5px;
}
.static-Content_Title {
    @include font-size(20px);
    margin: 10px auto;
    padding: 0 5px 5px;
    border-bottom: 1px solid $color__border-button;
}
.static-Content_Desc {
    @include font-size(14px);
    margin: 0 auto 30px;
}
.static-Content_List {
}

.static-Content_ListItem {
    margin: 0 auto 20px;
    @include font-size(15px);
}