.static-Content {

}
.static-Content_Inner {
    padding: 0 5px;
}
.static-Content_Title {
    @include font-size(20px);
    margin: 0 auto 10px;
    border-bottom: 1px solid $color__border-button;
}
.static-Content_Desc {
    @include font-size(14px);
    margin: 0 auto 30px;
}
.static-Content_List {
}

.static-Content_ListItem {
    margin: 0 auto 20px;
    @include font-size(15px);
}