{% if admin.checkAccess('reject', object) %}
    <button type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#rejectConfirmModal-{{ object.id }}">
        <i class="fa fa-times" aria-hidden="true"></i>
        {{ 'action_reject'|trans({}, 'SonataAdminBundle') }}
    </button>

    <div class="modal fade" id="rejectConfirmModal-{{ object.id }}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    <h4 class="modal-title">確認</h4>
                </div>
                <div class="modal-body">
                    イベント参加を却下します。 よろしいですか。
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">閉じる</button>
                    <a href="{{ admin.generateObjectUrl('reject', object) }}" class="btn btn-primary">確認</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
