{% if (after_event_date(myEvent.myEventSchedule)) %}
    <span class="">完売×</span>
    {% else %}
    
    {% if countAcceptFemaleCount(myEvent.myEventSchedule) > myEvent.myEventSchedule.womanLimit %}
        <span class="">完売×</span>
    {% elseif 
        countAcceptFemaleCount(myEvent.myEventSchedule) >= myEvent.myEventSchedule.womanLimit / 2 and
        countAcceptFemaleCount(myEvent.myEventSchedule) < myEvent.myEventSchedule.womanLimit
     %}
        <span class="">残りわずか△</span>
    {% elseif countAcceptFemaleCount(myEvent.myEventSchedule) < myEvent.myEventSchedule.womanLimit / 2 %}
        <span class="">空席あり○</span>
    {% endif %}

{% endif %}
