
{% if countAcceptFemaleCount(myEvent.myEventSchedule) > myEvent.myEventSchedule.womanLimit %}
        <a href="{{ path('my_event_index') }}" class="me-Applicatin_BtnUnit-after">
            女性完売です。
        </a>
    {% elseif 
        countAcceptFemaleCount(myEvent.myEventSchedule) >= myEvent.myEventSchedule.womanLimit / 2 and
        countAcceptFemaleCount(myEvent.myEventSchedule) < myEvent.myEventSchedule.womanLimit
    %}
        <button type="button" class="btn btn-success me-Applicatin_Btn-modal" data-toggle="modal" data-target="#meModalApplication">
            女性残りわずかです。チケットを購入する
         </button>
    {% elseif countAcceptFemaleCount(myEvent.myEventSchedule) < myEvent.myEventSchedule.womanLimit / 2 %}
        <button type="button" class="btn btn-success me-Applicatin_Btn-modal" data-toggle="modal" data-target="#meModalApplication">
            チケットを購入する
         </button>
    {% endif %}