{% extends "base.html.twig" %}

{% set title = "{{ my_event.name }}" %}
{% set description = "{{ my_event.description }}" %}
{% set canonical = 'canonical' %}

{% set static_title = "利用規約" %}
{% set static_description = "オミパリの利用規約について記載したページです。" %}


{% block main %}
<h1 class="sw-Content_Title">{{ static_title }}</h1>
<section class="static-Section">
    <div class="static-Content">
        <h3 class="static-Content_Title">第１条（規約の適用）</h3>
        <ol class="static-Content_List">
            <li class="static-Content_ListItem">
                この規約（以下「本街コン規約」といいます）は、オミパリ （以下「当社」といいます）
                が管理・運営するインターネットウェブサイト「オミパリ」（ウェブURL）
                （以下「本サイト」といいます）において提供する街コンその他のイベント（以下「街コン等」といいます）
                の参加申込・チケット購入サービスである本サービス（第2条第1項に定義）に関して、
                本サービスを利用する全ての会員（当社が別途定める会員規約（以下「会員規約」といいます）第2条第1号に定める
                「会員」を意味するものとします。以下同じです。）は、本街コン規約に同意のうえ本サービスを利用するものとします。
            </li>
            <li class="static-Content_ListItem">
                会員規約及び当社が本サイト上で随時掲載する本サービスに関する個別イベント参加条件、ルール、諸規定等は本街コン規約の一部を構成するものとします。 
            </li>
            <li class="static-Content_ListItem">
                本サービスを利用するためには、会員規約に基づく「会員」であることを条件とし、
                かつ本街コン規約の全ての条項に同意の上、第３条の利用登録手続により本サービスの利用登録を行う必要があります。
            </li>
        </ol>
    </div>  
</section>
<section class="static-Section">
    <div class="static-Content">
        <h3 class="static-Content_Title">第２条（本サービスの内容等）</h3>
        <ol class="static-Content_List">
            <li class="static-Content_ListItem">
                 本サービスとは、ユーザーが自らインターネットおよび本サイトを通じて本サイトで
                 掲載されている街コン等の参加申込・チケット購入を行うことを可能にするプラットフォーム型のサービスをいいます
                 （理由の如何を問わずサービスの名称又は内容が変更された場合は、当該変更後のサービスを含みます。）。
            </li>
            <li class="static-Content_ListItem">
                本サイトで掲載されている街コン等（以下「掲載街コン等」といいます）は、
                掲載街コン等の開催主体自らの責任において掲載街コン等の開催等に係る情報（以下「街コン等掲載情報」といいます）を提供しており、
                当社は、街コン等掲載情報および街コン等開催時に提供されるサービス（以下、「提供サービス」といいます）等に関し何らの関与もしません。
            </li>
            <li class="static-Content_ListItem">
                ユーザーが、自らインターネットおよび本サイトを通じて掲載街コン等の参加申込・チケット購入をした場合、
                本サイトのコンピュータシステム上で「参加コード」が発行された時点をもって、掲載街コン等の参加申込が完了し、
                掲載街コン等の開催主体とユーザーの間に当該提供サービス利用に係るチケット購入契約が成立するものとします。
                ただし、通信事情、コンピュータの不具合など何らかの事情で、
                「参加コード」が発行されたにもかかわらずユーザーのコンピュータの画面に表示されない事態が生じても、
                ユーザーが本サイトの「チケット一覧」機能を使用して、購入内容を確認できる状況になれば、申込・購入は成立するものとします。
            </li>
            <li class="static-Content_ListItem">
                前項の場合、当社は、申込・購入の成立を証するため、「参加コード」を記載した「購入完了メール」をユーザーが予め指定するメールアドレスに配信します。
                但し、電子メールアドレスの入力情報の誤りや申込内容に何らかの不具合が生じて電子メールを送信できない場合、
                通信事情、コンピュータの不具合など何らかの事情で、「購入完了メール」をユーザーが受信することができない事態が生じても、
                申込・購入の成立に影響を与えるものではありません。
            </li>
            <li class="static-Content_ListItem">
                本条の定めに基づき当該街コン開催主体とユーザーとの間で申込・購入が成立した場合、
                ユーザーは、別途定めるキャンセル料の負担等の義務が自己に生じることを承諾したものとみなされます。
            </li>
        </ol>
    </div>  
</section>
{% endblock %}
