{% extends "base.html.twig" %}

{% set title = "{{ my_event.name }}" %}
{% set description = "{{ my_event.description }}" %}
{% set canonical = 'canonical' %}

{% set static_title = "特定商取引法に基づく表記" %}
{% set static_description = "特定商取引法に基づく表記ついて記載したページです。" %}


{% block main %}
<section class="sw-Section">
    <div class="static-Content">
        <div class="static-Content_Inner">
            <h1 class="static-Content_Title">{{ static_title }}</h1>
            <p class="static-Content_Desc">
                {{ static_description }}
            </p>
            <table class="static-Aosct_Table">
            <tbody>
                <tr>
                <td width="29%">販売業者：</td>
                <td>オミパリ</td>
                </tr>
                <tr>
                <td width="29%">所在地：</td>
                <td>〒104-0042　東京都中央区入船2−1−1</td>
                </tr>
                <tr>
                <td width="29%">メールアドレス：</td>
                <td>info@aichicon.jp</td>
                </tr>
                <tr>
                <td width="29%">連絡先：</td>
                <td>000-000-0000</td>
                </tr>
                <tr>
                <td width="29%">屋号又はサービス名：</td>
                <td>オミパリ</td>
                </tr>
                <tr>
                <td width="29%">販売価格：</td>
                <td>各イベント画面にて掲載</td>
                </tr>
                <tr>
                <td width="29%">商品代金以外の必要料金：</td>
                <td>消費税(内税)</td>
                </tr>
                <tr>
                <td width="29%">支払方法：</td>
                <td>ちょコム決済サービス<br> 「ちょコムクレジット支払い」「ちょコムコンビニ支払い」「ちょコムeマネー」</td>
                </tr>
                <tr>
                <td width="29%">販売数量の制限：</td>
                <td>各イベント画面にて掲載</td>
                </tr>
                <tr>
                <td width="29%">キャンセル：</td>
                <td>各イベント画面にて掲載</td>
                </tr>
                <tr>
                <td width="29%">返金：</td>
                <td>
                    <p>会員ログインを行い決済されたお客様に関しましては、イベントが開催されなかった場合に限り、全額返金を行います。その際、返金時期・返金方法はメールまたは電話でお知らせいたします。</p>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>  
</section>
{% endblock %}
