{% extends "base.html.twig" %}

{% block head %}
    <title>よくある質問|OMUSVi</title>
    <meta name="description" content="オムスビのよくある質問に基づく表記についての内容のページです。">
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="OMUSViトップ">
    <meta property="og:description" content="オムスビのよくある質問に基づく表記についての内容のページです">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:description" content="オムスビのよくある質問に基づく表記についての内容のページです"/>
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}

{% block main %}
<section class="sw-Section">
    <div class="static-Content">
        <div class="static-Content_Inner">
            <h1 class="static-Content_Title">{{ static_title }}</h1>
            <p class="static-Content_Desc">
                {{ static_description }}
            </p>
           
        </div>
    </div>  
</section>
{% endblock %}
