<section class="sw-Section">
    <div class="me-Content">
        <div class="me-Content_Inner">
            <h1 class="me-Content_Title">当日の会場について</h1>
            <div class="me-Venue">
                <div class="me-Venue_Inner">
                    <h2 class="me-Venue_Title">まだ会場は確定しておりません。</h2>
                    <p class="me-Venue_NoTExt">
                        現在イベント会場に確認中とっております。<br>
                        会場確定したらここにイベント会場の情報が掲載されますのでしばらくお待ちください。
                        <small>※イベント2週間前には会場確定しております。ご了承ください。</small>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>