{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
<div class="my-Content_Inner">
            <ul class="my-Content_List">
                <li class="my-Content_Item">
                    <a href="">イベント申し込み</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">参加したイベント</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">パスワード変更</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">メールアドレス変更</a>
                </li>
                 <li class="my-Content_Item">
                </li>
            </ul>
        </div>
{% endblock fos_user_content %}
