.myde-Content {
    margin: 0 auto 30px;
    @include media-breakpoint-down(sm) {
        padding: 0 5px;
    }
    table {
        tr {
            @include font-size(14px);
            th {
                font-weight: normal;
            }
            td {

            }
        }
    }
}
.myde-Content_Title {
    @include font-size(24px);
    margin: 10px auto 20px;
    padding: 0;
    @include media-breakpoint-down(sm) {
        @include font-size(20px);
    }
}

.myde-Content_Alert {
    margin: 10px 0;
}