.sw-Content {
    width: $size__site-content-main;
    max-width: 100%;
    padding: 0;
    margin: 0;
    order: 1;
}
.sw-Content_Title {
    font-weight: bold;
    @include font-size(24px);
    margin: 0 auto 20px;
}

.sw-Content_Top {
    margin: 20px auto 0;
}

.sw-Content_Header {
    h1 {
        padding: 5px 0;
        margin: 0 auto 10px;
        font-weight: bold;
        color: $color__sex-woman;
        @include font-size(20px);
        border-bottom: 3px solid $color__sex-woman;
    }
}