.sw-Header {
    border-bottom: 1px solid #ccc;
    margin: 0 auto 15px;
    @include media-breakpoint-down(sm) {
        margin: 0 auto 10px;
    }
}
.sw-Header_Inner {
    width: $size__site-content;
    margin: 0 auto;
    padding: 0 5px;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.sw-Header_Lead {
    @include font-size(12px);
    margin: 0 auto;
    padding: 5px 0 0;
    letter-spacing: 2px;
    @include media-breakpoint-down(sm) {
        @include font-size(10px);
        padding: 5px 0 0;
    }
}

.sw-Header_Branding {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
    align-items: center;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 0 5px;
    }
}

.sw-Header_MainNavOuter {
}
.sw-Header_MainNav {
}
.sw-Header_MainNavInner {
}
.sw-Header_Logo {
}

.sw-Header_LogoMark {
    @include font-size(20px);
    color: #333;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 3px 0 0;
    display: inline-block;
}
.sw-Header_MainNavItems {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
    @include media-breakpoint-down(sm) {
        padding: 0 50px 0 0;
    }
}

.sw-Header_MainNavNoneItems {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.sw-Header_MainNavItem {
    a {
        display: block;
        margin: 0;
        padding: 5px 0 0;
        text-align: center;
        @include font-size(18px);
        i {
            color: $color__sex-woman;
            @include font-size(20px);
        }
    }
}
