.sw-Nav_Bottom {
    display: none;
}

.sw-Header_MainNavBtn {
    display: none;
}
// main sp nav
@include media-breakpoint-down(sm) {
    .sw-Header_MainNavBtn {
        display: block;
        width: 24px;
        height: 16px;
        padding: 0;
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 8px;
        z-index: 100;
        border: none;
        outline: none;
        background-color: transparent;
        i {
            cursor: pointer;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            width: 100%;
            margin: 0 auto;
            background-color: $color__sex-woman;
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 8px;
            }
            &:nth-child(3) {
                top: 16px;
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    .sw-Header_MainNavBtn.open {
        border-top: none !important;
        i {
        }
        i:nth-child(1) {
            top:  8px;
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            transform: rotate(315deg);
        }
        i:nth-child(2) {
            width: 0;
            left: 50%;
        }
        i:nth-child(3) {
            top: 8px;
            -webkit-transform: rotate(-315deg);
            -moz-transform: rotate(-315deg);
            transform: rotate(-315deg);
            }
} 
}

// bottom-nav
@include media-breakpoint-down(sm) {
    .sw-Nav_Bottom {
        display: block;
    }

    .sw-Nav_BottomInner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        display: flex;
        border-top: 1px solid;
        background-color: #fff;
    }
    
    .sw-Nav_BottomLink {
        display: block;
        width: 20%;
        text-align: center;
        i {
            padding: 8px 0;
            color:#333;
            @include font-size(26px);
            &:before {
                height: 100%;
            }
            &:hover {
                color: $color__sex-woman;
            }
        }
    }
}

.sw-Nav_Side {
    display: none;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
    position: fixed;
    z-index: 2;
    top: 42px;
}

.sw-Nav_OpenBtn {
    background: transparent;
    border: none;
    outline: none;
}

.sw-Nav_OpenBtn.open {
    border-top: 2px solid $color__sex-woman;
    color: $color__sex-woman;
}


.sw-Nav_Side.open-side {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
}

@include media-breakpoint-down(sm) {
    .sw-Nav_Side {
        display: block;
    }
    .sw-Nav_SideInner {

    }
    .sw-Nav_SideList {
        padding: 0;
        margin: 0;
        display: flex;
        justify-items: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        &:nth-child(even) {
            .sw-Nav_SideItemLink {
                border-left: none;
                border-right: 1px solid rgba(0,0,0,0.125);
                border-top: 1px solid rgba(0,0,0,0.125);
                border-bottom: 1px solid rgba(0,0,0,0.125);
            }
            
        }
    }
    .sw-Nav_SideListItem {
        width: 50%;
        
    }
    .sw-Nav_SideItemLink {
        display: block;
        @include font-size(14px);
        font-weight: normal;
        padding: 0.75rem 0.9rem;
        height: 42px;
        border-right: 1px solid rgba(0,0,0,0.125);
        margin: 0 0 -1px;
        background: url(../../images/right-arrow.png) no-repeat right 18px top 10px;
        background-size: 6px auto;
        text-decoration: none;
    }
    .sw-Nav_SideItemUnit {
    }

    .sw-Nav_SideUnitImg {
    }


    .sw-Nav_SideUnitText {
        width: 100%;
        @include font-size(13px);
        font-weight: normal;
        color: #707070;
    }

    .sw-Nav_SideInnerTitle {
        // @include pinkgra();
        // background-color: #ffe5e5;
        background-color: $color__sex-woman;
        @include font-size(14px);
        padding: 13px 0 13px 8px;
        // font-weight: bold;
        font-weight: normal;
        // color: #8E6F6F;
        color: #fff;
        // border-top: 1px solid #eee;
        // border-bottom: 1px solid #eee;
        margin: 0 auto;
    }
}