.sw-Section {
  margin: 30px 0;
  padding: 0;
  @include media-breakpoint-down(md) {

  }
}

.sw-Section_Inner {
  @include make-container;
  @include make-container-max-widths();
}

.sw-Section_Title {
  margin: 40px 0;
  @include font-size(32/16);
  @include font-mplus-semibold;
  color: $color__citron_green;
  @include media-breakpoint-down(sm) {
    padding: 0 15px;
    @include font-size(26/16);
  }
}
