{% extends 'base.html.twig' %}

{% block title %}Edit MyEventVenue{% endblock %}

{% block body %}
    <h1>Edit MyEventVenue</h1>

    {{ include('my_event_venue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_event_venue_index') }}">back to list</a>

    {{ include('my_event_venue/_delete_form.html.twig') }}
{% endblock %}
