.me-Content {

}
.me-Content_Inner {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.me-Content_Title {
    @include font-size(18px);
    font-weight: bold;
    margin: 0 auto 10px;
}