{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="registration-Area">
    <h1 class="registration-Area_Title">確認メールを送信しました</h1>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
</div>
{% endblock fos_user_content %}
