{% extends "@FOSUser/layout.html.twig" %}

{% block head %}
<title>無料会員登録|OMUSVi</title>
<link rel="canonical" href="{{ absolute_url(path('default_index')) }}"> 
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVI">
    <meta property="og:title" content="無料会員登録|OMUSVi">
    <meta property="og:description" content="オムスビユーザー無料会員登録ページ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolute_url(path('default_index')) }}">
    <meta property="og:image" content="">
    {% endblock %}
    
    {% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="サイトのURL貼る">
    <meta name="twitter:description" content="オムスビユーザー無料会員登録ページ" />
    <meta name="twitter:image" content="ogpのURL貼る">
    {% endblock %}

{% block fos_user_content %}
<div class="registration-Area">
    <h1 class="registration-Area_Title">会員登録</h1>
    <h2 class="registration-Area_SubTitle">OMUSVi会員でない方は会員になろう!!</h2>
    <p class="registration-Area_Desc">
        オムスビ会員になると、街コンの申し込みがスムーズにできる、おすすめイベント・新規イベントの通知などができてとても便利です
    </p>
    <div class="registration-Area_Form">
{% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
    <a href="{{ path("fos_user_security_login") }}" class="registration-Area_LoginLink">ログインはこちら</a>
</div>
{% endblock fos_user_content %}
