{% trans_default_domain 'FOSUserBundle' %}

{% if form is defined %}
        {% form_theme form "form/layout.html.twig" %}
{% endif %}
    
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-block btn-primary" />
    </div>
{{ form_end(form) }}
