{% extends 'base.html.twig' %}

{% block title %}Edit MyEventFlow{% endblock %}

{% block body %}
    <h1>Edit MyEventFlow</h1>

    {{ include('my_event_flow/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_event_flow_index') }}">back to list</a>

    {{ include('my_event_flow/_delete_form.html.twig') }}
{% endblock %}
