{% extends 'base.html.twig' %}

{% block title %}New MyEventFlow{% endblock %}

{% block body %}
    <h1>Create new MyEventFlow</h1>

    {{ include('my_event_flow/_form.html.twig') }}

    <a href="{{ path('my_event_flow_index') }}">back to list</a>
{% endblock %}
