{% extends 'base.html.twig' %}

{% block title %}MyEvent index{% endblock %}

{% block main %}

    <section class="top-Content">
        <h2 class="top-Content_Title">
            今月のおすすめ
        </h2>
    </section>


    <section class="top-Content">
        <h2 class="top-Content_Title">
             選べる街コンPICK UP!
        </h2>
    </section>

    <section class="top-Content">
        <h2 class="top-Content_Title">
            お知らせ
        </h2>
    </section>

{% endblock %}
