{% extends "base.html.twig" %}

{% set title = 'オミパリトップページ' %}
{% set description = 'オミパリとは街コンイベント運営会社です。愛知県名古屋を' %}
{% set canonical = 'canonical' %}


{% block main %}
    <h1 class="myde-Main_Title">ユーザー情報入力</h1>

    {{ include('user_detail/_form.html.twig') }}
{% endblock %}
