{% extends "base.html.twig" %}

{% block head %}
    <title>口座情報編集</title>
{% endblock %}

{% block main %}
    <div class="myde-Content">
        <h1 class="myde-Content_Title">口座情報の登録</h1>
       
        <div class="mypage-Form">
            {{ form_start(form) }}
            {{ form_rest(form) }}

            <div>
                <button class="sw-Btn btn-block" type="submit">
                    登録
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
