{% extends "base.html.twig" %}

{% set title = 'オミパリトップページ' %}
{% set description = 'オミパリとは街コンイベント運営会社です。愛知県名古屋を' %}
{% set canonical = 'canonical' %}


{% block main %}
    <section class="sw-Section">
        <div class="myapp-Content">
            <div class="myapp-Complete">
                <h1 class="myapp-Complete_Title">イベント申込ありがとうございます。</h1>
                <p class="myapp-Complete_Text">
                    登録されたメールアドレスにイベント申込通知のお知らせメールが届きますのでご確認ください。
                </p>
               <p class="myapp-Complete_Caption">
                    お支払い方法に銀行振込を選択された方はお送りしたメールに記載に口座情報の記載がございますので、間違いないようお振り込みお願い致します。<br>
                    また、メールが届かない方はこちらにお問い合わせください。
                </p>
                <a class="myapp-Complete_Btn" href="{{ path("app_mypage_mypage_index") }}">マイページ</a>
                <a class="myapp-Complete_Btn" href="{{ path("default_index") }}">トップへ戻る</a>
            </div>
        </div>
    </section>
{% endblock %}
