.side-Banner {
  margin: 0 auto 30px;
}

.side-BannerItems {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.side-BannerItem {
  margin: 0 auto 10px;
  a {
   img {
     max-width: 100%;
     vertical-align: bottom;
     margin: 0 auto;
   }
  }
}
