<!-- モーダルの設定 -->
<div class="modal fade" id="myAppliedModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>
        イベントの参加料金の支払いが終わりましたら下のボタンから入金報告をお願いいたします。<br>
        入金が確認できましたらメールでお知らさせていただきますのでしばらくお待ちくださいませ。
        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">閉じる</button>
        {{ form_start(paiedForm, {'method': 'post', 'action': path('mypage_event_application_applied', {'id': appliedEvent.id}), 'attr': {'class': 'mypage_application_applide_form'}}) }}
        {{ form_rest(paiedForm) }}
            <button class="btn btn btn-info btn-sm" type="submit">入金報告をする</button>
        {{ form_end(paiedForm) }}
      </div>
    </div>
  </div>
</div>