{% extends "/base.html.twig" %}

{% block head %}
	<title>お問い合わせ完了</title>
{% endblock %}

{% block main_outer %}
    <div class="sw-Content_Top container">
        <header class="sw-Content_Header">
            <h1 class="sw-PageHeader_Title">
                お問い合わせ
            </h1>
        </header>
        <main class="sw-PageBody">
            <section class="sw-Section">
                <h3 class="sw-Section_Title">お問い合わせフォーム</h3>
                <div class="sw-Section_Body">
                    <p>お問い合わせを送信いたしました。</p>

                    <p>お問い合わせ内容を確認の上、担当者より折り返しご連絡差し上げます。</p>

                    <p>しばらくお待ちください。</p>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
