.purchses-Complete {
    max-width: $size__site-content;
    margin: 15px auto;
    padding: 0 15px;
}

.purchses-Complete_Inner {
    border: 1px solid $color__border-button;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.purchses-Complete_Title {
    @include font-size(20px);
    font-weight: bold;
    text-align: center;
    padding: 0 0 8px;   
}

.purchses-Complete_Text {
    margin: 0 auto;
    @include font-size(14px);
}

.purchses-Complete_Caption {
    margin: 0 auto;
    @include font-size(14px);
    
}
.purchses-Complete_BtnUnit {
    margin: 15px auto 10px;
    text-align: center;
}