{# templates/emails/registration.html.twig #}
<h3>新規登録完了しました</h3>

こんにちは {{ lastname }} {{ firstname }}さん 新規登録完了しました.

{# example, assuming you have a route named "login" #}
ログインには次のリンクをクリックしてください: <a href="{{ path('app_login') }}">ログインページ</a>.

ご登録ありがとうございました！