.mypage-Login {
    width: 100%;
    margin: 0 auto 30px;
    padding: 15px;
}
.mypage-Login_Title {
    padding: 5px 0;
    margin: 0 auto 10px;
    font-weight: bold;
    color: $color__sex-woman;
    @include font-size(20px);
    border-bottom: 3px solid $color__sex-woman;
}

.mypage-Login_Form {
    label {
        @include font-size(15px);
        font-weight: bold;
        margin: 0 0 0.5rem;
    }
}

.mypage-Login_Desc {
    @include font-size(14px);
    font-weight: normal;
    color: #a9a9a9;
}

.mypage-Login_Header {
    padding: 14px 15px 10px;
    border-bottom: 2px solid #ccc;
    margin: 0 auto 20px;
}

.mypage-Login_HaederText {
    @include font-size(14px);
    font-weight: bold;
    margin: 0 auto;
}

.mypage-Login_InfoText {
    @include font-size(15px);
    color: $color__sex-woman;
    text-decoration: underline;
    display: inline-block;
    margin: 10px 0 0;
}