{% extends "base.html.twig" %}

{% block head %}
    <title>マイページイベント</title>
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="マイページイベント|OMUSVi">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}


{% block main %}
    <div class="myde-Content">
    <h1 class="myde-Content_Title">申し込み中のイベント</h1>

       

        <div class="my-Content_Inner">
            <ul class="my-Content_List">
                <li class="my-Content_Item">
                    <a href="">イベント申し込み</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">参加したイベント</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">パスワード変更</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">メールアドレス変更</a>
                </li>
                 <li class="my-Content_Item">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
