{% extends "base.html.twig" %}

{% block head %}
    <title>マイページ</title>
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="マイページ|OMUSVi">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}


{% block main %}
<section class="sw-Section">
    <div class="my-Content">
        <div class="my-Content_Inner">
            <div class="">
                <ul class="my-Content_TabList nav nav-tabs">
                    <li class="nav-item">
                        <a href="#applied" class="nav-link active" data-toggle="tab">申込中イベント</a>
                    </li>
                    <li class="nav-item">
                        <a href="#accepted" class="nav-link" data-toggle="tab">申込済イベント</a>
                    </li>
                    <li class="nav-item">
                        <a href="#past_event" class="nav-link" data-toggle="tab">過去のイベント</a>
                    </li>
                </ul>
                <div class="tab-content my-Content_TabContent">
                <div id="applied" class="tab-pane active">
                    {% include 'my_page/my_event_application/_applied.html.twig' %}                   
                </div>
                <div id="accepted" class="tab-pane">
                    {% include 'my_page/my_event_application/_accepted.html.twig' %}
                </div>
                <div id="past_event" class="tab-pane">
                    {% include 'my_page/my_event_application/_pasted.html.twig' %}
                </div>
                </div>    
            </div>
            {# <ul class="my-Content_List">
                <li class="my-Content_Item">
                    <a href="{{ path('mypage_detail_index') }}">登録情報</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">パスワード変更</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">メールアドレス変更</a>
                </li>
            </ul> #}
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}