{% extends "base.html.twig" %}

{% block title %}マイページトップ｜オミパリマイページ{% endblock %}
{% block description %}{% endblock %}


{% block main %}
<section class="sw-Section">
    <div class="my-Content">
        <div class="my-Content_Inner">
            <div class="">
            </div>
            <ul class="my-Content_List">
                <li class="my-Content_Item">
                    <a href="{{ path('mypage_detail_index') }}">詳細情報</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">申し込み中のイベント</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">参加したイベント</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">パスワード変更</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">メールアドレス変更</a>
                </li>
                 <li class="my-Content_Item">
                </li>
            </ul>
        </div>
    </div>
</secton>
{% endblock %}