{% extends "base.html.twig" %}

{% block head %}
    <title>マイページ情報編集</title>
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="マイページ情報編集|OMUSVi">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}

{% block main %}
    <div class="myde-Content">
    <h1 class="myde-Content_Title">ユーザー情報の登録</h1>

    {{ include('my_page/user_detail/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
