.top-Event {
    margin: 15px auto 0;
    &:first-child {
        margin: 0 auto;
    }
}
.top-Event_Inner {
    padding: 5px;
    cursor: pointer;
}

.top-Event_Img {
    margin: 0 auto;
    a {
        color: #58595B;
        display: block;
        max-width: 640px;
        text-align: center;
        background-color: rgb(236, 236, 236);
        img {
            max-height: 300px;
            width: 100%;
            margin: 0 auto;
            vertical-align: bottom;
            object-fit: cover;
            @include media-breakpoint-down(sm) {
                max-height: 180px;
                margin: 0 auto 5px;
            }
        }
    }
}
.top-Event_Title {
    @include font-size(19px);
    margin: 0 auto 5px;
    font-weight: bold;
    a {
        color: #58595B;
        display: block;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
        &:visited {
            color: #58595B;
        }
    }
}
.top-Event_Desc {
    @include font-size(12px);
    margin: 0 auto 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
}
.top-Event_Info {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto 5px;
    @include font-size(14px);
}
.top-Event_Info-place {
    display: inline-block;
    padding: 0 10px 0 0;
}
.top-Event_Info-date {
    display: inline-block;
}
.top-Event_Person {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto 5px;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
    
}
.top-Event_Person-woman {
    width: 49%;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid $color__sex-woman;
    border-radius: 5px;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.top-Event_WomanUnit {
    display: flex;
    align-items: center;

}
.top-Event_WomanIcon {
    padding: 0 10px 0 0;
    i {
        @include font-size(24px);
        color: $color__sex-woman;
    }
}
.top-Event_WomanInfo {
    display: flex;
    @include font-size(14px);
    &-limit {
        padding: 0 10px 0 0;
    }
    &-pice {

    }
    &-text {
        
    }
}
.top-Event_Person-man {
    width: 49%;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid $color__sex-man;
    border-radius: 5px;
    @include media-breakpoint-down(sm) {
        margin: 5px auto 0;
        width: 100%;
    }
}
.top-Event_ManUnit {
    display: flex;
    align-items: center;

}
.top-Event_ManIcon {
    padding: 0 10px 0 0;
    margin: 0;
    i {
        @include font-size(24px);
        color: $color__sex-man;
    }
}
.top-Event_ManInfo {
    display: flex;
    @include font-size(14px);
    &-limit {
        padding: 0 10px 0 0;
    }
    &-pice {

    }
    &-text {

    }
}
.top-Event_TagItems {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 3px;
    display: flex;
    flex-wrap: wrap;
}
.top-Event_TagItem {
    a {
        margin: 0 auto 3px;
        padding: 0 8px 0 0;
        display: block;
        @include font-size(14px);
        i {

        }
    }
}
.top-Event_Btn {
    margin: 5px auto 0;
    a {
        padding: 5px 0;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.top-Event_ScheduleText {
    margin: 0 auto 10px;
    text-align: center;
    padding: 3px 0;
    @include font-size(14px);
    background-color: antiquewhite;
}
