.top-Wide_Inner {
    margin: 0 auto 20px;
    @include media-breakpoint-down(sm) {
        margin: 0 auto 10px;
        padding: 5px 10px 0;
    }
}

.top-Wide_Title {
    @include font-size(17px);
    margin: 0 auto 10px;
    font-weight: bold;
}

.top-Wide_Keyword {
    padding: 15px 0;
    @include media-breakpoint-up(sm) {
        display: none;
    }
}
.top-Wide_KeywordLists {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.top-Wide_KeywordListsItem {
    a {
        margin: 0 5px 3px 0;
        padding: 3px 5px;
        text-align: center;
        display: block;
        background-color: #f0f0f0;
        border-radius: 5px;
        @include font-size(14px);
        color: #58595B;
        &:hover {
            opacity: 0.8;
        }
        &:visited {
            color: #58595B;
        }
        i {

        }
    }
}
